body {
    background-color: #ffffff;
  }
  #body2 {
    position: absolute;
    top: 100vh;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
  }
#title {
    position: absolute;
    top: 25vh;
    left: 50%;
    margin-left: -300px;
    width: 600px;
    height: 120px;
    text-align: center;
    font-family: 'Caveat', sans-serif;
    font-size: 65px;
    font-weight: 300;
} 
#navbar {
  overflow: visible;
}
#bar {
  position: relative;
  top: 20px;
  left: 0px;
  margin-left: 1.5vw;
  width: 95vw;
  height: 60px;
  background-color: rgb(246, 248, 248);
  border-radius: 5px;
}
.shadow {
  transition: ease 0.2s;
  box-shadow:0 5px 15px 0 rgba(0, 0, 0, 0.25);
}

#navbar a {
  position: absolute;  
  z-index: 1000;
  margin-left: 3vw;
  display: block;
  color: #a8a8a8;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
#navbuttons a{
  position: absolute;  
  z-index: 1000;
  top: 25px;
  margin-left: 3vw;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
#navbar a:hover {
  z-index: 1000;
  background-color: rgb(228, 228, 228);
}

#navbar a.name {
  margin-left: 40px;
  font-family: 'Raleway', sans-serif;  
  color: rgb(0, 0, 0);
}
#navbar a.about {
  margin-left: 170px;
  font-family: 'Raleway', sans-serif;  
  color: rgb(0, 0, 0);
}
#navbar a.portfolio {
  margin-left: 280px;
  font-family: 'Raleway', sans-serif;  
  color: rgb(0, 0, 0);
}
#navbar a.projects {
  margin-left: 410px;
  font-family: 'Raleway', sans-serif;  
  color: rgb(0, 0, 0);
}
#navbar a.shop {
  margin-left: 530px;
  font-family:'Raleway', sans-serif; 
  color: rgb(0, 0, 0);
}
#navbar a.contact {
  position: absolute;
  right: 3%;
  font-family: 'Raleway', sans-serif;  
  color: rgb(0, 0, 0);
}
.sticky {
  position: fixed;
  top: -5px;
  width: 100%;
  
}
.sticky + .content {
  padding-top: 60px;
}
.content {
  padding: 16px;
}
#footermain {
  position: absolute;
  top: 200vh;
  left: 0px;
  width: 100%;
  height: 100px;
  background-color: rgb(241, 241, 241);
  z-index: 10000;
}
#containerholdericons {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  right: 2vw;
  width: 300px;
  height: 50px;
  background-color: rgb(126, 38, 38, 0.001);
}
#tktitle {
  position: relative;
  margin-left: 3.34%;
  margin-top: 43.2px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
}
#instagram {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  right: 10px;
  width: 30px;
  height: 30px;
}
#instagram:hover {
  cursor: pointer;
}
#youtube {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  right: 63px;
  width: 42.509px;
  height: 30px;
}
#youtube:hover {
  cursor: pointer;
}
#twitter {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  right: 125px;
  width: 30px;
  height: 30px;
}
#twitter:hover {
  cursor: pointer;
}