body {
  background-image: url("https://i.ibb.co/Lrz1hkx/A2948-A40-5-CAA-4-ADE-B0-E8-BB3-B99718-FF5.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; 
 }
 #epic {
  position: fixed;
  overflow: hidden;
  width: 460px;
  height: 100px;
  right: 8vw;
  top: 24vh;
  font-family: 'Poppins', sans-serif;
  font-size: 70px;
  font-weight: 600;
  color: rgb(43, 43, 43);
  filter: opacity(90%);
}
#epic:hover {
  color: rgb(255, 255, 255);
}
#adventures {
  position: fixed;
  overflow: hidden;
  width: 460px;
  height: 100px;
  right: 8vw;
  top: 47vh;
  font-family: 'Poppins', sans-serif;
  font-size: 70px;
  font-weight: 600;
  color: rgb(223, 223, 223);
  filter: opacity(90%);
}
#adventures:hover {
  color: rgb(43, 43, 43)
}
#everywhere {
  position: fixed;
  overflow: hidden;
  width: 460px;
  height: 100px;
  right: 8vw;
  top: 69vh;
  font-family: 'Poppins', sans-serif;
  font-size: 70px;
  font-weight: 600;
  color: rgb(43, 43, 43);
  filter: opacity(90%);
}
#everywhere:hover {
  color: rgb(223, 223, 223);
}
#learn {
  position: fixed;
  top: 85vh;
  right: 10vw;
  height: 60px;
  width: 140px;
  color: #4d4d4d;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  transition: ease 0.5s;
  box-shadow:0 5px 10px 0 rgba(0, 0, 0, 0.15);

  
}
#learn:hover {
  cursor: pointer;
  padding-right: 24px;
  padding-left:8px;
}
#learn:after {
  content: '»';
  position: absolute;
  opacity: 0;  
  top: 2.8vh;
  right: -1vw;
  transition: 0.5s;
}
#learn:hover:after {
  opacity: 1;
  right: 1.3vw;
}
#learn:focus {
  outline: none;
}
 #details {
  position: absolute;
  left: 0px;
  top: 100vh;
  width: 100%;
  height: 100vh;
  background-color: white;
}
@media only screen and (max-width: 1070px) {
  #details2 {
    position: absolute;
    left: 0px;
    top: 200vh;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://i.ibb.co/LP9v6M4/50-Beautiful-and-Minimalist-Presentation-Backgrounds-037.jpg");
  }
}
.headers {
  position: absolute;
  top: 120vh;
  font-weight: 100;
  font-size: large;
  font-family: 'Poppins', sans-serif;
}
.headers:hover {
  cursor: pointer;
}
#header1 {
  position: absolute;
  left: 25vw;
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}
#header1:hover {
  color: goldenrod;
  transition: ease 0.2s;
}
#header2 {
  position: absolute;
  left: 50vw;
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}
#header2:hover {
  color: goldenrod;
  transition: ease 0.2s;
}
#header3 {
  position: absolute;
  left: 75vw;
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}
#header3:hover {
  color: goldenrod;
  transition: ease 0.2s;
}
#selectorline {
  position: absolute;
  top: 125vh;
  left: 25.45vw;
  width: 85px;
  height: 2px;
  background-color: goldenrod;
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}
#con {
  position: relative;
  left: 0px;
  margin-left: 3vw;
  top: 130vh;
  width: 85vw;
  height: 53.4vh;
  border:rgba(125, 159, 175, 0.0005);
  border-style: solid;
}
#title {
  position: relative;
  left: 0px;
  top: 3vh;
  margin-left: 2.5vw;
  color: rgb(253, 251, 251);
  font-family: 'Poppins', sans-serif;
  font-size: large;
}
.recent {
  position: absolute;
  left: 0px;
  margin-left: 35vw;
  top: -50vh;
  width: 300px;
  height: 300px;
  background-color:rgb(230, 230, 230);
  transition: 0.6s;
  box-shadow:0 5px 10px 0 rgba(92, 92, 92, 0.35);
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(https://i.ibb.co/RyvcDsm/weather-clear.png);
}
.recent:hover {
  top: 89vh;
  transition: ease-in 0.6s;
  transition: ease-out 0.5s;
}
.phase2 {
  filter: opacity(1);
  position: absolute;
  left: 0px;
  margin-left: 0vw;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 20vw;
  max-width: 600px;
  height: 40vh;
  background-color:rgb(230, 230, 230);
  box-shadow:0 5px 10px 0 rgba(92, 92, 92, 0.35);
  border-radius: 5px;
  transition: 0.6s;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(https://i.ibb.co/RyvcDsm/weather-clear.png);
}
#content {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 15%;
  width: 70%;
  height: 70%;
  text-align: center; 
}
#imgcontent {
  position: relative;
  height: 100%;
  width: auto;
  vertical-align: bottom;
}
#explore {
  position: relative;
  top: 16vh;
  margin-left: 6.2vw;
  background-color: rgb(200, 219, 224, 0.1);
  border:  rgb(156, 180, 188);
  border-style: solid;
  border-radius: 4px;
  height: 8vh;
  max-height: 60px;
  min-width: 90px;
  width: 8vw;
  transition: 0.6s;
  font-family: 'Roboto', sans-serif;
  font-size: large;
  color: white;
}
#explore:hover {
  cursor: pointer;
  background-color:  rgb(156, 180, 188);
}
#description {
  position: absolute;
  right: 3vw;
  top: 45%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 40vw;
  width: 400px;
  transition: 0.6s ease-in;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0em;
  word-spacing: 0.1em;
  line-height: 1.5em;
}
@media only screen and (max-width: 1070px) {
  #description {
    position: absolute;
    left: 50%;
    margin-left: -180px;
    top: 130%;
    width: 40vw;
    width: 400px;
    transition: 0.6s ease-in;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0em;
    word-spacing: 0.1em;
    line-height: 1.5em;  
  }
}
#description {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
}
#readmore {
  position: absolute;
  top: 85%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 10vh;
  width: 6.5vw;
  height: 6.5vh;
  max-height: 50px;
  min-width: 90px;
  background-color: white;
  border: none;
  border-radius: 4px;
  transition: 0.3s ease-in;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  letter-spacing: 0.05em;
  box-shadow:0 5px 10px 0 rgba(0, 0, 0, 0.15);
}
@media only screen and (max-width: 1070px) {
  #readmore {
    position: absolute;
    top: 175%;
    left: 70%;
    margin-left: -50px;
    width: 6.5vw;
    height: 6.5vh;
    max-height: 50px;
    min-width: 90px;
    background-color: white;
    border: none;
    border-radius: 4px;
    transition: 0.3s ease-in;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    letter-spacing: 0.05em;
    box-shadow:0 5px 10px 0 rgba(0, 0, 0, 0.15);  
  }
}
  #readmore {
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
}
#readmore:hover {
  cursor: pointer;
  top: 84%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@media only screen and (max-width: 1070px) {
  #readmore:hover {
    cursor: pointer;
    top: 174%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);    
  }
}
#readmore:focus {
  outline: none;
}
#navbar {
  overflow: visible;
}
#bar {
  position: relative;
  top: 20px;
  left: 0px;
  margin-left: 1.5vw;
  width: 95vw;
  height: 60px;
  background-color: rgb(246, 248, 248);
  border-radius: 5px;
}
.shadow {
  transition: ease 0.2s;
  box-shadow:0 7px 20px 0 rgba(0,0,0,0.25);
}

#navbar a {
  position: absolute;  
  z-index: 1000;
  margin-left: 3vw;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
#navbuttons a{
  position: absolute;  
  z-index: 1000;
  top: 25px;
  margin-left: 3vw;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
#navbar a:hover {
  z-index: 1000;
  background-color: silver;
}

#navbar a.name {
  margin-left: 40px;
  font-family: 'Raleway', sans-serif;  
  color: rgb(0, 0, 0);
}
#navbar a.about {
  margin-left: 185px;
  font-family: 'Raleway', sans-serif;  
  color: rgb(0, 0, 0);
}
#navbar a.portfolio {
  margin-left: 280px;
  font-family: 'Raleway', sans-serif;  
  color: rgb(0, 0, 0);
}
#navbar a.projects {
  margin-left: 410px;
  font-family: 'Raleway', sans-serif;  
  color: rgb(0, 0, 0);
}
#navbar a.gaming {
  margin-left: 540px;
  font-family:'Raleway', sans-serif; 
  color: rgb(0, 0, 0);
}
#navbar a.feedback {
  margin-left: 660px;
  font-family:'Raleway', sans-serif; 
  color: rgb(0, 0, 0);
}
#navbar a.contact {
  position: absolute;
  right: 3%;
  font-family: 'Raleway', sans-serif;  
  color: rgb(0, 0, 0);
}
.sticky {
  position: fixed;
  top: -5px;
  width: 100%;
  
}
.sticky + .content {
  padding-top: 60px;
}
.content {
  padding: 16px;
}

  



