body {
  background-image: url("https://i.ibb.co/Lrz1hkx/A2948-A40-5-CAA-4-ADE-B0-E8-BB3-B99718-FF5.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; 
 }
 #epic {
  position: fixed;
  left: 0px;
  top: 40vh;
  margin-left: 65vw;
  height: 50px;
  font-family: 'Raleway', sans-serif;
  font-size: 70px;
  font-weight: 700;
}
 #details {
  position: absolute;
  left: 0px;
  top: 100vh;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://i.ibb.co/LP9v6M4/50-Beautiful-and-Minimalist-Presentation-Backgrounds-037.jpg");
}
#title {
  position: relative;
  left: 0px;
  top: 3.5vh;
  margin-left: 2.5vw;
  color: rgb(0, 0, 0);
  font-family: 'Roboto', sans-serif;
  font-size: large;
}
.recent {
  position: absolute;
  left: 0px;
  margin-left: 45vw;
  top: 90vh;
  width: 30vw;
  height: 25vw;
  background-color:rgb(206, 221, 227);
  transition: 0.6s;
  box-shadow:0 5px 20px 0 rgba(0, 0, 0, 0.35);
  border-radius: 5px;
 
}
.recent:hover {
  top: 89vh;
  transition: ease-in 0.6s;
  transition: ease-out 0.5s;
  cursor: pointer;
}
.phase2 {
  position: relative;
  left: 0px;
  margin-left: 5vw;
  top: 140vh;
  width: 30vw;
  height: 25vw;
  background-color: rgb(33, 99, 131); 
  border-radius: 7px;
  transition: 0.6s;
}
#content {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 5%;
  width: 90%;
  height: 90%;

}
#explore {
  position: relative;
  bottom: 75px;
  margin-left: 20vw;
  background-color: rgb(156, 180, 188);
  border: none;
  border-radius: 4px;
  height: 8vh;
  width: 8vw;
  transition: 0.6s;
  font-family: 'Roboto', sans-serif;
  font-size: large;
  color: white;
}
#explore:hover {
  cursor: pointer;
  box-shadow:0 5px 20px 0 rgba(0, 0, 0, 0.35);
}
#description {
  position: absolute;
  right: 10vw;
  top: 150vh;
  width: 400px;
  transition: 0.6s ease-in;
  font-family: 'Raleway', sans-serif;
}
#description {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
}
#navbar {
  overflow: visible;
}
#bar {
  position: relative;
  top: 20px;
  left: 0px;
  margin-left: 1.5vw;
  width: 95vw;
  height: 60px;
  background-color: rgb(156, 180, 188);
  border-radius: 5px;
}
.shadow {
  transition: ease 0.2s;
  box-shadow:0 7px 20px 0 rgba(0,0,0,0.25);
}

#navbar a {
  position: relative;  
  z-index: 1000;
  float: left;
  margin-left: 3vw;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
#navbuttons a{
  top: -34px;
}
#navbar a:hover {
  z-index: 1000;
  background-color: silver;
}

#navbar a.name {
  font-family: 'Raleway', sans-serif;  
  color: white;
}
#navbar a.about {
  margin-left: 2vw;
  font-family: 'Raleway', sans-serif;  
  color: white;
}
#navbar a.portfolio {
  margin-left: 2vw;
  font-family: 'Raleway', sans-serif;  
  color: white;
}
#navbar a.projects {
  margin-left: 2vw;
  font-family: 'Raleway', sans-serif;  
  color: white;
}
#navbar a.contact {
  margin-left: 49vw;
  font-family: 'Raleway', sans-serif;  
  color: white;
}
.sticky {
  position: fixed;
  top: -5px;
  width: 100%;
  
}
.sticky + .content {
  padding-top: 60px;
}
.content {
  padding: 16px;
}

  



