body {
    background-color: #ffffff;
  }
  #body2 {
    position: absolute;
    top: 100vh;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
  }
  #sidebody {
    position: absolute;
    top: 0vh;
    width: 50%;
    left: 50%;
    height: 100%;
    background-color:rgba(255, 255, 255, 0.5);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(https://image.freepik.com/free-vector/people-buying-online_24908-55875.jpg);
  }
  #getintouch {
      position: absolute;
      top: 25vh;
      margin-left: 150px;
      font-family: 'Raleway', sans-serif;
      font-weight: 300;
      font-size: 40px;
  }
  #query {
    position: absolute;
    top: 34vh;
    margin-left: 152px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: rgb(105, 105, 105);
    width: 300px;
}
 #topic {
    position: absolute;
    top: 30vh;
    left: 500px;
    width: 200px;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    background-color: rgb(89, 192, 218, 0.5);
    box-shadow:0 3px 10px 0 rgba(0, 0, 0, 0.15);
 }
 #topic:hover {
     cursor: pointer;
     background-color: rgb(89, 192, 218, 0.45);
 }
 #topic:active {
   top: 30.2vh;
   box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.15);
 }
 #topic:focus {
   outline: none;
 }
 #gotostore {
    position: absolute;
    top: 65vh;
    margin-left: 150px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 40px;
 }
 #warning {
    position: absolute;
    top: 74vh;
    margin-left: 152px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: rgb(105, 105, 105);
    width: 300px;
}
#visit {
    position: absolute;
    top: 70vh;
    left: 500px;
    width: 200px;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    background-color: rgb(89, 192, 218, 0.5);
    box-shadow:0 3px 10px 0 rgba(0, 0, 0, 0.15);
 }
 #visit:hover {
     cursor: pointer;
     background-color: rgb(89, 192, 218, 0.45);
 }
 #visit:active {
   top: 70.2vh;
   box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.15);
 }
 #visit:focus {
   outline: none;
 }
 #overlaychoose {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.1);
  z-index: 2;
  cursor: pointer;
  backdrop-filter: blur(3px);

  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
 }
 #hello {
   display: none;
 }
 #choosetemplate {
   position: relative;
   left: 50%;
   margin-left: -45vw;
   top: 100vh;
   display: block;
   width: 90vw;
   height: 75vh;
   background-color: white;
   border-radius: 7px;
   z-index: 1000;
   box-shadow:0 3px 15px 0 rgba(0, 0, 0, 0.15);
   box-shadow: none;

   animation: fadeIn ease 1s;
   -webkit-animation: fadeIn ease 1s;
   -moz-animation: fadeIn ease 1s;
   -o-animation: fadeIn ease 1s;
   -ms-animation: fadeIn ease 1s;
 }
 #Card1 {
  position: absolute;
  left: 2vw;
  top: 4vh;
  display: block;
  width: 20vw;
  height: 67vh;
  background-color: rgb(255, 255, 255);
  border-radius: 7px;
  z-index: 1000;
  box-shadow:0 3px 15px 0 rgba(0, 0, 0, 0.15);
 }
 #head1 {
   position: absolute;
   top: 50%;
   margin-top: -30px;
   left: 50%;
   margin-left: -70px;
   font-family: 'Poppins', sans-serif;
   font-size: 20px;
   font-weight: 800; 
   z-index: 1000;
 }
 #para1 {
  position: absolute;
  top: 60%;
  margin-top: -10px;
  left: 50%;
  margin-left: -110px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 500; 
  width: 220px;
  z-index: 1000;
  text-align: center;
  line-height: 1.7em;
 }
 #delivery {
   position: relative;
   top: 5vh;
   left: 50%;
   margin-left: -110px;
   width: 200px;
   height: 200px;
 }
 #Card2 {
  position: absolute;
  left: 24vw;
  top: 4vh;
  display: block;
  width: 20vw;
  height: 67vh;
  background-color: rgb(255, 255, 255);
  border-radius: 7px;
  z-index: 1000;
  box-shadow:0 3px 15px 0 rgba(0, 0, 0, 0.15);
 }
 #head2 {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  left: 50%;
  margin-left: -85.96px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 800; 
  z-index: 1000;
}
#para2 {
  position: absolute;
  top: 60%;
  margin-top: -10px;
  left: 50%;
  margin-left: -110px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 500; 
  width: 220px;
  z-index: 1000;
  text-align: center;
  line-height: 1.7em;
}
#time {
  position: relative;
  top: 11vh;
  left: 50%;
  margin-left: -50px;
  width: 100px;
  height: 100px;
}
 #Card3 {
  position: absolute;
  right: 24vw;
  top: 4vh;
  display: block;
  width: 20vw;
  height: 67vh;
  background-color: rgb(255, 255, 255);
  border-radius: 7px;
  z-index: 1000;
  box-shadow:0 3px 15px 0 rgba(0, 0, 0, 0.15);
 }
 #head3 {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  left: 50%;
  margin-left: -69.955px;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 800; 
  z-index: 1000;
}
 #Card4 {
  position: absolute;
  right: 2vw;
  top: 4vh;
  display: block;
  width: 20vw;
  height: 67vh;
  background-color: rgb(255, 255, 255);
  border-radius: 7px;
  z-index: 1000;
  box-shadow:0 3px 15px 0 rgba(0, 0, 0, 0.15);
 }
 @keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
}
#navbar {
  overflow: visible;
}
#bar {
  position: relative;
  top: 20px;
  left: 0px;
  margin-left: 1.5vw;
  width: 95vw;
  height: 60px;
  background-color: rgb(246, 248, 248);
  border-radius: 5px;
}
.shadow {
  transition: ease 0.2s;
  box-shadow:0 5px 15px 0 rgba(0, 0, 0, 0.25);
}

#navbar a {
  position: absolute;  
  z-index: 1000;
  margin-left: 3vw;
  display: block;
  color: #a8a8a8;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
#navbuttons a{
  position: absolute;  
  z-index: 1000;
  top: 25px;
  margin-left: 3vw;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
#navbar a:hover {
  z-index: 1000;
  background-color: rgb(228, 228, 228);
}

#navbar a.name {
  margin-left: 40px;
  font-family: 'Raleway', sans-serif;  
  color: rgb(0, 0, 0);
}
#navbar a.about {
  margin-left: 170px;
  font-family: 'Raleway', sans-serif;  
  color: rgb(0, 0, 0);
}
#navbar a.portfolio {
  margin-left: 280px;
  font-family: 'Raleway', sans-serif;  
  color: rgb(0, 0, 0);
}
#navbar a.projects {
  margin-left: 410px;
  font-family: 'Raleway', sans-serif;  
  color: rgb(0, 0, 0);
}
#navbar a.shop {
  margin-left: 530px;
  font-family:'Raleway', sans-serif; 
  color: rgb(0, 0, 0);
}
#navbar a.contact {
  position: absolute;
  right: 3%;
  font-family: 'Raleway', sans-serif;  
  color: rgb(0, 0, 0);
}
.sticky {
  position: fixed;
  top: -5px;
  width: 100%;
  
}
.sticky + .content {
  padding-top: 60px;
}
.content {
  padding: 16px;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  top: 30vh;
  left: 560px;
  font-size: 5px;
  position: absolute;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(112, 184, 197, 0.2);
  border-right: 1.1em solid rgba(112, 184, 197, 0.2);
  border-bottom: 1.1em solid rgba(112, 184, 197, 0.2);
  border-left: 1.1em solid #000000;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}