body {
    background-image: url("https://i.ibb.co/Lrz1hkx/A2948-A40-5-CAA-4-ADE-B0-E8-BB3-B99718-FF5.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
 }
#triangle {
    opacity: 0.7;
    background-image: linear-gradient(to left top, rgb(194, 205, 207) 0%, rgb(191, 200, 201) 50%, transparent 50%);
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}
#Navbar {
    position: absolute;
    left: 0px;
    margin-left: 5vw;
    top: 50px;
    width: 90vw;
    height: 60px;
    background-color: rgb(156, 180, 188);
    box-shadow:0 7px 20px 0 rgba(0,0,0,0.25);
    border-radius: 5px;
}
nav {
    background-color: rgba(255, 255, 255, 0);
    position: fixed;
    width: 100vw;
    transition: background-color 250ms ease-in-out;
    z-index: 1;
}
.navscrolled {
    background-color: rgb(151, 39, 39);
    transition: background-color 250ms ease-in-out;
    z-index: 1;
}
nav .menubarpages {
    float: left;
    padding-inline-start: 0px;
    padding-left: 40px;
    margin-top: 25px;
    margin-bottom: 25px;
    transition: all 400ms ease-in-out;
}

nav .menubarpages.scrolled {
    margin-top: 10px;
    margin-bottom: 10px;
}
nav li {
    display: inline-block;
    margin: 0 35px;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
}
nav a {
    font-family: 'Raleway', sans-serif;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}
.recent {
    position: absolute;
    left: 0px;
    margin-left: 45vw;
    top: 130px;
    width: 30vw;
    height: 25vw;
    background-color: rgb(171, 191, 201);
    border-radius: 7px;
    transition: ease-in 0.6s;
}
.recent:hover {
    top: 125px;
    box-shadow:0 13px 20px 0 rgba(0,0,0,0.25);
    transition: ease-out 0.5s;
    cursor: pointer;
}

#homename {
    position: absolute;
    left: 0px;
    top: 70px;
    width: 5vw;
    min-width: 85px;
    margin-left: 8vw;
    height: 20px;
    font-family: 'Raleway', sans-serif;
}
#homename:hover {
    transition: 0.2s ease-in;
    color: rgb(168, 214, 230);
    cursor: pointer;
}
#details {
    position: absolute;
    left: 0px;
    top: 100vh;
    width: 100%;
    height: 600px;
    background-color: rgb(173, 173, 173);
}
