body {
  background-image: url("https://i.ibb.co/Lrz1hkx/A2948-A40-5-CAA-4-ADE-B0-E8-BB3-B99718-FF5.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover; 
 }
 #epic {
  position: fixed;
  overflow: hidden;
  width: 460px;
  height: 100px;
  right: 8vw;
  top: 24vh;
  font-family: 'Poppins', sans-serif;
  font-size: 70px;
  font-weight: 600;
  color: rgb(43, 43, 43);
  filter: opacity(90%);
}
#epic:hover {
  color: rgb(255, 255, 255);
}
#adventures {
  position: fixed;
  overflow: hidden;
  width: 460px;
  height: 100px;
  right: 8vw;
  top: 47vh;
  font-family: 'Poppins', sans-serif;
  font-size: 70px;
  font-weight: 600;
  color: rgb(223, 223, 223);
  filter: opacity(90%);
}
#adventures:hover {
  color: rgb(43, 43, 43)
}
#everywhere {
  position: fixed;
  overflow: hidden;
  width: 460px;
  height: 100px;
  right: 8vw;
  top: 69vh;
  font-family: 'Poppins', sans-serif;
  font-size: 70px;
  font-weight: 600;
  color: rgb(43, 43, 43);
  filter: opacity(90%);
}
#everywhere:hover {
  color: rgb(223, 223, 223);
}
.learn {
  position: fixed;
  top: 85vh;
  right: 10vw;
  height: 60px;
  width: 140px;
  color: #4d4d4d;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  transition: ease 0.5s;
  box-shadow:0 5px 10px 0 rgba(0, 0, 0, 0.15);

  
}
.learn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.learn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.learn:hover span {
  padding-right: 25px;
}

.learn:hover span:after {
  opacity: 1;
  right: 0;
}
.learn:focus {
  outline: none;
}
 #details {
  position: absolute;
  left: 0px;
  top: 100vh;
  width: 100%;
  height: 100vh;
  background-color: white;
}
.headers {
  position: absolute;
  top: 120vh;
  font-weight: 100;
  font-size: large;
  font-family: 'Poppins', sans-serif;
}
.headers:hover {
  cursor: pointer;
}
#header1 {
  position: absolute;
  left: 25vw;
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}
#header1:hover {
  color: goldenrod;
  transition: ease 0.2s;
}
#header2 {
  position: absolute;
  left: 50vw;
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}
#header2:hover {
  color: goldenrod;
  transition: ease 0.2s;
}
#header3 {
  position: absolute;
  left: 75vw;
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}
#header3:hover {
  color: goldenrod;
  transition: ease 0.2s;
}
#selectorline {
  position: absolute;
  top: 125vh;
  left: 25.45vw;
  width: 85px;
  height: 2px;
  background-color: goldenrod;
  transition: 0.4s;
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}
#con {
  position: relative;
  left: 0px;
  margin-left: 3vw;
  top: 130vh;
  width: 85vw;
  height: 53.4vh;
  border:rgba(125, 159, 175, 0.0005);
  border-style: solid;
}
#title {
  position: relative;
  left: 0px;
  top: 3vh;
  margin-left: 2.5vw;
  color: rgb(253, 251, 251);
  font-family: 'Poppins', sans-serif;
  font-size: large;
}
#recent {
  position: relative;
  left: 20%;
  top: 50%;
  margin-top: -150px;
  width: 300px;
  height: 300px;
  background-color:rgb(230, 230, 230);
  transition: 0.6s;
  box-shadow:0 10px 15px 0 rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url(https://i.ibb.co/RyvcDsm/weather-clear.png);
}
@media only screen and (max-width: 1160px) {
  #recent {
    position: relative;
    left: 10%;
    top: 50%;
    margin-top: -90px;
    width: 250px;
    height: 250px;
    background-color:rgb(230, 230, 230);
    transition: 0.6s;
    box-shadow:0 10px 15px 0 rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url(https://i.ibb.co/RyvcDsm/weather-clear.png);
  }
}
@media only screen and (max-width: 930px) {
  #recent {
    left: 5%;
  }
}
#recent:hover {
  top: 49%;
  transition: ease-in 0.6s;
  transition: ease-out 0.5s;
  cursor: pointer;
}
#recent:active {
  top: 52%;
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.15);
  transition: 0.1s;
}
#content {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 15%;
  width: 70%;
  height: 70%;
  text-align: center; 
}
#imgcontent {
  position: relative;
  height: 100%;
  width: auto;
  vertical-align: bottom;
}
#tile {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: none;
}
#descriptionfeatured {
  position: absolute;
  right: 3vw;
  top: 50%;
  margin-top: -138px;
  width: 40vw;
  width: 400px;
  transition: 0.6s ease-in;
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  word-spacing: 0.1em;
  line-height: 1.5em;
}
@media only screen and (max-width: 1160px) {
  #descriptionfeatured {
    position: absolute;
    right: 3vw;
    top: 50%;
    margin-top: -89.5px;
    width: 400px;
    transition: 0.6s ease-in;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0em;
    word-spacing: 0.1em;
    line-height: 1.5em;
  }
}
#descriptionfeatured {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}


#descriptionrecent {
  position: absolute;
  right: 3vw;
  top: 50%;
  margin-top: -138px;
  width: 40vw;
  width: 400px;
  transition: 0.6s ease-in;
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  word-spacing: 0.1em;
  line-height: 1.5em;
}
@media only screen and (max-width: 1160px) {
  #descriptionrecent {
    position: absolute;
    right: 3vw;
    top: 50%;
    margin-top: -89.5px;
    width: 400px;
    transition: 0.6s ease-in;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0em;
    word-spacing: 0.1em;
    line-height: 1.5em;
  }
}
#descriptionrecent {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}


#descriptionupcoming {
  position: absolute;
  right: 3vw;
  top: 50%;
  margin-top: -138px;
  width: 40vw;
  width: 400px;
  transition: 0.6s ease-in;
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  word-spacing: 0.1em;
  line-height: 1.5em;
}
@media only screen and (max-width: 1160px) {
  #descriptionupcoming {
    position: absolute;
    right: 3vw;
    top: 50%;
    margin-top: -89.5px;
    width: 400px;
    transition: 0.6s ease-in;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0em;
    word-spacing: 0.1em;
    line-height: 1.5em;
  }
}
#descriptionupcoming {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
}
#readmore {
  position: absolute;
  top: 85%;
  margin-top: -25px;
  right: 50px;
  width: 150px;
  height: 50px;
  background-color: white;
  border: black;
  border-style: solid;
  transition: 0.4s;
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
  letter-spacing: 0.05em;
}
@media only screen and (max-width: 1160px) {
  #readmore {
    position: absolute;
    top: 85%;
    margin-top: -25px;
    right: 35px;
    width: 395px;
    height: 50px;
    background-color: white;
    border: black;
    border-style: solid;
    transition: 0.4s;
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    letter-spacing: 0.05em;
  }
}
  #readmore {
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
}
#readmore:hover {
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: #8EDDF5;
  border: #8EDDF5;
}
#readmore:focus {
  outline: none;
}
#navbar {
  overflow: visible;
}
#bar {
  position: relative;
  top: 20px;
  left: 0px;
  margin-left: 1.5vw;
  width: 95vw;
  height: 60px;
  background-color: rgb(246, 248, 248);
  border-radius: 5px;
}
.shadow {
  transition: ease 0.2s;
  box-shadow:0 7px 20px 0 rgba(0,0,0,0.25);
}

#navbar a {
  position: absolute;  
  z-index: 1000;
  margin-left: 3vw;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
#navbuttons a{
  position: absolute;  
  z-index: 1000;
  top: 25px;
  margin-left: 3vw;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
#navbar a:hover {
  z-index: 1000;
  background-color: silver;
}

#navbar a.name {
  margin-left: 40px;
  font-family: 'Raleway', sans-serif;  
  color: rgb(0, 0, 0);
}
#navbar a.about {
  margin-left: 170px;
  font-family: 'Raleway', sans-serif;  
  color: rgb(0, 0, 0);
}
#navbar a.portfolio {
  margin-left: 280px;
  font-family: 'Raleway', sans-serif;  
  color: rgb(0, 0, 0);
}
#navbar a.projects {
  margin-left: 410px;
  font-family: 'Raleway', sans-serif;  
  color: rgb(0, 0, 0);
}
#navbar a.shop {
  margin-left: 530px;
  font-family:'Raleway', sans-serif; 
  color: rgb(0, 0, 0);
}
#navbar a.contact {
  right: 50px;
  font-family: 'Raleway', sans-serif;  
  color: rgb(0, 0, 0);
}
@media only screen and (min-width: 1700px) {
  #navbar a.contact {
    right: 70px;
    font-family: 'Raleway', sans-serif;  
    color: rgb(0, 0, 0);
  }
} 
.sticky {
  position: fixed;
  top: -5px;
  width: 100%;
  
}
.sticky + .content {
  padding-top: 60px;
}
.content {
  padding: 16px;
}
#footermain {
  position: absolute;
  top: 200vh;
  left: 0px;
  width: 100%;
  height: 100px;
  background-color: rgb(241, 241, 241);
  z-index: 10000;
}
#containerholdericons {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  right: 2vw;
  width: 300px;
  height: 50px;
  background-color: rgb(126, 38, 38, 0.001);
}
#tktitle {
  position: relative;
  margin-left: 3.34%;
  margin-top: 43.2px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
}
#instagram {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  right: 10px;
  width: 30px;
  height: 30px;
}
#instagram:hover {
  cursor: pointer;
}
#youtube {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  right: 63px;
  width: 42.509px;
  height: 30px;
}
#youtube:hover {
  cursor: pointer;
}
#twitter {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  right: 125px;
  width: 30px;
  height: 30px;
}
#twitter:hover {
  cursor: pointer;
}