  body {
    background-color: #ffffff;
  }
  #body2 {
    position: absolute;
    top: 0vh;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
  }
  #sidebody {
    position: absolute;
    top: 0vh;
    width: 50%;
    left: 50%;
    height: 100%;
    background-color:rgba(255, 255, 255, 0.5);
    background-repeat: no-repeat;
    background-size: cover;
    background-image: none;
  }
  #getintouch {
      position: absolute;
      top: 25vh;
      margin-left: 100px;
      font-family: urbane-rounded, sans-serif;
      font-weight: 300;
      font-style: normal;
      font-size: 40px;
  }
  #query {
    position: absolute;
    top: 34vh;
    margin-left: 102px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    width: 260px;
    color: rgb(105, 105, 105);
}

 #topic {
    position: absolute;
    top: 30vh;
    left: 450px;
    width: 200px;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    border: rgb(0, 0, 0);
    border-style: solid;
    border-radius: 3px;
    background-color: white ;
    transition: 0.5s;
 }
 #topic:hover {
     cursor: pointer;
     border: rgb(89, 192, 218, 0.5);
     background-color:  rgb(89, 192, 218, 0.5);
     color: white;
 }
 #topic:focus {
   outline: none;
 }
 @media only screen and (max-width: 1310px) {
  #topic {
    position: absolute;
    top: 50vh;
    left: 110px;
    width: 200px;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    border: black;
    border-style: solid;
    border-radius: 4px;
    background-color: white;
  }
}
 #gotostore {
  position: absolute;
  top: 65vh;
  margin-left: 100px;
  font-family: urbane-rounded, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 40px;
}
#warning {
  position: absolute;
  top: 74vh;
  margin-left: 102px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: rgb(105, 105, 105);
  width: 260px;
}
#visit {
  position: absolute;
  top: 70vh;
  left: 450px;
  width: 200px;
  height: 50px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  border: rgb(0, 0, 0);
  border-style: solid;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.5);
  transition: 0.5s;
}
#visit:hover {
   cursor: pointer;
   border: rgb(89, 192, 218, 0.5);
   background-color:  rgb(89, 192, 218, 0.5);
   color: white;
}
#visit:focus {
 outline: none;
}
@media only screen and (max-width: 1310px) {
  #visit {
    position: absolute;
    top: 86vh;
    left: 110px;
    width: 200px;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    border: rgb(0, 0, 0);
    border-style: solid;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.5);
  }
}
 #overlaychoose {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.1);
  z-index: 2;
  cursor: pointer;
  backdrop-filter: blur(3px);

  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
 }
 #choosetemplate {
   position: absolute;
   left: 50%;
   margin-left: -15vw;
   top: 50%;
   margin-top: -20vw;
   display: none;
   width: 30vw;
   height: 10vw;
   background-color: white;
   z-index: 1000;
   text-align: center;
   font-family: 'Poppins', sans-serif;
   font-weight: 300;
   font-style: normal;
   font-size: 20px;
   padding: 40px;
   border-radius: 80px;

   animation: fadeIn ease 1s;
   -webkit-animation: fadeIn ease 1s;
   -moz-animation: fadeIn ease 1s;
   -o-animation: fadeIn ease 1s;
   -ms-animation: fadeIn ease 1s;
 }
 #dismiss {
   color: rgb(116, 144, 196);
   text-decoration: underline;
 }
 #dismiss:hover {
   cursor: pointer;
 }
 @keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
}
#navbar {
  overflow: visible;
}
#bar {
  position: relative;
  top: 20px;
  left: 0px;
  margin-left: 1.5vw;
  width: 95vw;
  height: 60px;
  background-color: rgb(246, 248, 248);
  border-radius: 5px;
}
.shadow {
  transition: ease 0.2s;
  box-shadow:0 5px 15px 0 rgba(0, 0, 0, 0.25);
}

#navbar a {
  position: absolute;  
  z-index: 1000;
  margin-left: 3vw;
  display: block;
  color: #a8a8a8;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
#navbuttons a{
  position: absolute;  
  z-index: 1000;
  top: 25px;
  margin-left: 3vw;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
#navbar a:hover {
  z-index: 1000;
  background-color: rgb(228, 228, 228);
}

#navbar a.name {
  margin-left: 40px;
  font-family: 'Raleway', sans-serif;  
  color: rgb(0, 0, 0);
}
#navbar a.about {
  margin-left: 170px;
  font-family: 'Raleway', sans-serif;  
  color: rgb(0, 0, 0);
}
#navbar a.portfolio {
  margin-left: 280px;
  font-family: 'Raleway', sans-serif;  
  color: rgb(0, 0, 0);
}
#navbar a.projects {
  margin-left: 410px;
  font-family: 'Raleway', sans-serif;  
  color: rgb(0, 0, 0);
}
#navbar a.shop {
  margin-left: 530px;
  font-family:'Raleway', sans-serif; 
  color: rgb(0, 0, 0);
}
#navbar a.contact {
  position: absolute;
  right: 3%;
  font-family: 'Raleway', sans-serif;  
  color: rgb(0, 0, 0);
}
.sticky {
  position: fixed;
  top: -5px;
  width: 100%;
  
}
.sticky + .content {
  padding-top: 60px;
}
.content {
  padding: 16px;
}
#contactgraphic {
  position: absolute;
  top: 50%;
  margin-top: -330px;
  right: 10%;
  margin-right: -250px;
  width: 1000px;
  height: 666.88px;
}
#footermain {
  position: absolute;
  top: 100vh;
  left: 0px;
  width: 100%;
  height: 100px;
  background-color: rgb(241, 241, 241);
  z-index: 10000;
}
#containerholdericons {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  right: 2vw;
  width: 300px;
  height: 50px;
  background-color: rgb(126, 38, 38, 0.001);
}
#tktitle {
  position: relative;
  margin-left: 3.34%;
  margin-top: 43.2px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
}
#instagram {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  right: 10px;
  width: 30px;
  height: 30px;
}
#instagram:hover {
  cursor: pointer;
}
#youtube {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  right: 63px;
  width: 42.509px;
  height: 30px;
}
#youtube:hover {
  cursor: pointer;
}
#twitter {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  right: 125px;
  width: 30px;
  height: 30px;
}
#twitter:hover {
  cursor: pointer;
}
#podium-website-widget {
  display: none;
}