  body {
    background-color: #ffffff;
  }
  #body2 {
    position: absolute;
    top: 100vh;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
  }
  #getintouch {
      position: absolute;
      top: 25vh;
      margin-left: 200px;
      font-family: 'Raleway', sans-serif;
      font-weight: 300;
      font-size: 40px;
  }
  #query {
    position: absolute;
    top: 34vh;
    margin-left: 202px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: rgb(105, 105, 105);
}
 #topic {
    position: absolute;
    top: 30vh;
    right: 750px;
    width: 200px;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    background-color: rgb(89, 192, 218, 0.5);
    box-shadow:0 3px 10px 0 rgba(0, 0, 0, 0.15);
 }
 #topic:hover {
     cursor: pointer;
     background-color: rgb(89, 192, 218, 0.45);
 }
 #topic:active {
   top: 30.2vh;
   box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.15);
 }
 #topic:focus {
   outline: none;
 }
 #overlaychoose {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.1);
  z-index: 2;
  cursor: pointer;
  backdrop-filter: blur(3px);

  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
 }
 #choosetemplate {
   position: absolute;
   left: 50%;
   margin-left: -600px;
   top: 50%;
   margin-top: -250px;
   display: none;
   width: 1200px;
   height: 500px;
   background-color: white;
   z-index: 1000;

   animation: fadeIn ease 2s;
   -webkit-animation: fadeIn ease 2s;
   -moz-animation: fadeIn ease 2s;
   -o-animation: fadeIn ease 2s;
   -ms-animation: fadeIn ease 2s;
 }
 @keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
}
  #navbar {
    overflow: visible;
  }
  #bar {
    position: relative;
    top: 20px;
    left: 0px;
    margin-left: 1.5vw;
    width: 95vw;
    height: 60px;
    background-color: rgb(246, 248, 248);
    border-radius: 5px;
  }
  .shadow {
    transition: ease 0.2s;
    box-shadow:0 7px 20px 0 rgba(0,0,0,0.25);
  }
  
  #navbar a {
    position: absolute;  
    z-index: 1000;
    margin-left: 3vw;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  #navbuttons a{
    position: absolute;  
    z-index: 1000;
    top: 25px;
    margin-left: 3vw;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  #navbar a.name {
    margin-left: 40px;
    font-family: 'Raleway', sans-serif;  
    color: rgb(0, 0, 0);
  }
  #navbar a.about {
    margin-left: 185px;
    font-family: 'Raleway', sans-serif;  
    color: rgb(0, 0, 0);
  }
  #navbar a.about {
    margin-left: 175px;
    font-family: 'Raleway', sans-serif;  
    color: rgb(0, 0, 0);
  }
  #navbar a.portfolio {
    margin-left: 280px;
    font-family: 'Raleway', sans-serif;  
    color: rgb(0, 0, 0);
  }
  #navbar a.projects {
    margin-left: 410px;
    font-family: 'Raleway', sans-serif;  
    color: rgb(0, 0, 0);
  }
  #navbar a.gaming {
    margin-left: 540px;
    font-family:'Raleway', sans-serif; 
    color: rgb(0, 0, 0);
  }
  #navbar a.contact {
    position: absolute;
    right: 3%;
    font-family: 'Raleway', sans-serif;  
    color: rgb(0, 0, 0);
  }
  .sticky {
    position: fixed;
    top: -5px;
    width: 100%;
    
  }
  .sticky + .content {
    padding-top: 60px;
  }
  .content {
    padding: 16px;
  }