#backflow {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 100vh;
    background-color: rgb(255, 255, 255);
}
#halfsidebody {
  position: absolute;
  top: 250px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(https://i.ibb.co/47GRYzn/Business-team-discussing-new-ideas-and-innovations-Group-of-people-growing-lightbulb-plant-Vector-il.jpg);
}
#images {
  display: none;
  position: absolute;
  left: 50%;
  margin-left: -144px;
  top: 80px;
}
#maintitle {
  position: absolute;
  top: 150px;
  left: 50%;
  margin-left: -180px;
  height: 100px;
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  font-size: 80px;
  
}
#content {
  position: relative;
  left: 50%;
  margin-left: -20vw;
  top: 115vh;
  height: 500px;
  width: 40vw;
  border-radius: 8px;
  background-color: white;
  outline: rgba(160, 101, 101, 0.901);
  box-shadow:0 5px 10px 0 rgba(0, 0, 0, 0.15);
}
@media only screen and (min-width: 1700px) {
  #content {
    position: relative;
    left: 50%;
    margin-left: -20vw;
    top: 105vh;
    height: 600px;
    width: 40vw;
    border-radius: 8px;
    background-color: white;
    outline: rgba(160, 101, 101, 0.901);
    box-shadow:0 5px 10px 0 rgba(0, 0, 0, 0.15);
  }
} 
@media only screen and (max-width: 1500px) {
  #content {
    position: relative;
    left: 50%;
    margin-left: -25vw;
    top: 105vh;
    height: 600px;
    width: 50vw;
    border-radius: 8px;
    background-color: white;
    outline: rgba(160, 101, 101, 0.901);
    box-shadow:0 5px 10px 0 rgba(0, 0, 0, 0.15);
  }
} 
#text-main {
  position: absolute;
  top: 35px;
  left: 35px;
  font-family: 'Barlow', sans-serif;
  padding-right: 35px;
  word-spacing: 0.1em;
  line-height: 1.9em;
  font-size: 22px;
  font-weight: 500;
}
#View {
  position: absolute;
  right: 55px;
  bottom: 35px;
  background-color: rgba(255, 255, 255);
  border: black;
  border-style: solid;
  width: 200px;
  height: 50px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  transition: ease 0.4s;
}
#View:hover {
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: #8EDDF5;
  border: #8EDDF5;
}
#View:focus {
  outline: none;
}
#navbar {
    overflow: visible;
  }
  #bar {
    position: relative;
    top: 20px;
    left: 0px;
    margin-left: 1.5vw;
    width: 95vw;
    height: 60px;
    background-color: rgb(246, 248, 248);
    border-radius: 5px;
  }
  .shadow {
    transition: ease 0.2s;
    box-shadow:0 7px 20px 0 rgba(0,0,0,0.25);
  }
  
  #navbar a {
    position: absolute;  
    z-index: 1000;
    margin-left: 3vw;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  #navbuttons a{
    position: absolute;  
    z-index: 1000;
    top: 25px;
    margin-left: 3vw;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  #navbar a:hover {
    z-index: 1000;
    background-color: silver;
  }
  
  #navbar a.name {
    margin-left: 40px;
    font-family: 'Raleway', sans-serif;  
    color: rgb(0, 0, 0);
  }
  #navbar a.about {
    margin-left: 170px;
    font-family: 'Raleway', sans-serif;  
    color: rgb(0, 0, 0);
  }
  #navbar a.portfolio {
    margin-left: 280px;
    font-family: 'Raleway', sans-serif;  
    color: rgb(0, 0, 0);
  }
  #navbar a.projects {
    margin-left: 410px;
    font-family: 'Raleway', sans-serif;  
    color: rgb(0, 0, 0);
  }
  #navbar a.shop {
    margin-left: 530px;
    font-family:'Raleway', sans-serif; 
    color: rgb(0, 0, 0);
  }
  #navbar a.contact {
    position: absolute;
    right: 3%;
    font-family: 'Raleway', sans-serif;  
    color: rgb(0, 0, 0);
  }
  @media only screen and (min-width: 1700px) {
    #navbar a.contact {
      right: 70px;
      font-family: 'Raleway', sans-serif;  
      color: rgb(0, 0, 0);
    }
  } 
  .sticky {
    position: fixed;
    top: -5px;
    width: 100%;
    
  }
  .sticky + .content {
    padding-top: 60px;
  }
  .content {
    padding: 16px;
  }
  #footermain {
    position: absolute;
    top: 200vh;
    left: 0px;
    width: 100%;
    height: 100px;
    background-color: rgb(241, 241, 241);
    z-index: 10000;
  }
  #containerholdericons {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    right: 2vw;
    width: 300px;
    height: 50px;
    background-color: rgb(126, 38, 38, 0.001);
  }
  #tktitle {
    position: relative;
    margin-left: 3.34%;
    margin-top: 43.2px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
  }
  #instagram {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    right: 10px;
    width: 30px;
    height: 30px;
  }
  #instagram:hover {
    cursor: pointer;
  }
  #youtube {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    right: 63px;
    width: 42.509px;
    height: 30px;
  }
  #youtube:hover {
    cursor: pointer;
  }
  #twitter {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    right: 125px;
    width: 30px;
    height: 30px;
  }
  #twitter:hover {
    cursor: pointer;
  }