body {
    background-color: white;
 }
 #backflow {
     position: absolute;
     width: 100%;
     height: 100%;
     left: 0px;
     top: 200vh;
     background-color: rgb(255, 255, 255);
 }
 .Headermain {
   position: absolute;
   top: 25vh;
   left: 50%;
   margin-left: -150px;
   width: 300px;
   height: 120px;
   text-align: center;
 }
 #myportfolio {
   font-family: 'Caveat', sans-serif;
   font-size: 65px;
   font-weight: 300;
 }
 .ninebynine {
     position: absolute;
     top: 60vh;
     left: 50%;
     margin-left: -610px;
     width: 1220px;
     height: 1220px;
     background-color: none;
     border: rgba(0, 0, 0, 0.001);
     border-style: solid;
 }
 #tile1 {
     position: absolute;
     top: 20px;
     left: 20px;
     width: 380px;
     height: 380px;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     background-image: url("https://i.ibb.co/3SLvQKd/IMG-0781-1.jpg");
     background-color: rgb(188, 177, 160);
     transition: 0.5s;
     cursor: pointer;
 }
 #tile1:hover {
     top: 15px;
     box-shadow:0 5px 15px 0 rgba(0, 0, 0, 0.35); 
 }
 #tile2 {
     position: absolute;
     top: 20px;
     left: 420px;
     width: 380px;
     height: 380px;
     background-size: contain;
     background-image: url(https://i.ibb.co/8DGQyFr/IMG-0798.jpg);
     background-color: rgb(236, 236, 236);
     transition: 0.5s;
     cursor: pointer;
 }
 #tile2:hover {
     top: 15px;
     box-shadow:0 5px 15px 0 rgba(0, 0, 0, 0.35); 
 }
 #tile3 {
     position: absolute;
     top: 20px;
     left: 820px;
     width: 380px;
     height: 380px;
     background-size: contain;
     background-image: url(https://i.ibb.co/2kWts7D/Weather-Clear.png);
     background-color: rgb(236, 236, 236);
     transition: 0.5s;
     cursor: pointer;
 }
 #tile3:hover {
     top: 15px;
     box-shadow:0 5px 15px 0 rgba(0, 0, 0, 0.35); 
 }
 #tile4 {
     position: absolute;
     top: 560px;
     left: 20px;
     width: 380px;
     height: 380px;
     background-size: contain;
     background-image: url(https://i.ibb.co/jvnZbPY/70645733-135919321046713-2429941884673506526-n.jpg);
     background-color: rgb(236, 236, 236);
     transition: 0.5s;
     cursor: pointer;
 }
 #tile4:hover {
     top: 555px;
     box-shadow:0 5px 15px 0 rgba(0, 0, 0, 0.35); 
 }
 #tile5 {
     position: absolute;
     top: 560px;
     left: 420px;
     width: 380px;
     height: 380px;
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center;
     background-image: url(https://i.ibb.co/rp9w6Gf/70997517-1181052828748245-4085072603278330813-n.jpg);
     background-color: rgb(236, 236, 236);;
     transition: 0.5s;
     cursor: pointer;
 }
 #tile5:hover {
     top: 555px;
     box-shadow:0 5px 15px 0 rgba(0, 0, 0, 0.35); 
 }
 #tile6 {
     position: absolute;
     top: 560px;
     left: 820px;
     width: 380px;
     height: 380px;
     background-color: rgb(236, 236, 236);
     cursor: pointer;
     transition: 0.5s;
 }
 #tile6:hover {
     top: 555px;
     box-shadow:0 5px 15px 0 rgba(0, 0, 0, 0.35); 
 }
 #tile7 {
     position: absolute;
     top: 1100px;
     left: 20px;
     width: 380px;
     height: 380px;
     background-color: rgb(236, 236, 236);
     transition: 0.5s;
     cursor: pointer;
 }
 #tile7:hover {
     top: 1095px;
     box-shadow:0 5px 15px 0 rgba(0, 0, 0, 0.35); 
 }
 #tile8 {
     position: absolute;
     top: 1100px;
     left: 420px;
     width: 380px;
     height: 380px;
     background-color: rgb(236, 236, 236);
     transition: 0.5s;
     cursor: pointer;
 }
 #tile8:hover {
     top: 1095px;
     box-shadow:0 5px 15px 0 rgba(0, 0, 0, 0.35); 
 }
 #tile9 {
    position: absolute;
    top: 1100px;
    left: 820px;
    width: 380px;
    height: 380px;
    background-color: rgb(236, 236, 236);
    transition: 0.5s;
    cursor: pointer;
 }
 #tile9:hover {
    top: 1095px;
    box-shadow:0 5px 15px 0 rgba(0, 0, 0, 0.35); 
 }
 #navbar {
     overflow: visible;
   }
   #bar {
    position: relative;
    top: 20px;
    left: 0px;
    margin-left: 1.5vw;
    width: 95vw;
    height: 60px;
    background-color: rgb(246, 248, 248);
    border-radius: 5px;
  }
  .shadow {
    transition: ease 0.2s;
    box-shadow:0 5px 15px 0 rgba(0, 0, 0, 0.25);
  }   
   
   #navbar a {
     position: absolute;  
     z-index: 1000;
     margin-left: 3vw;
     display: block;
     color: #a8a8a8;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     font-size: 17px;
   }
   #navbuttons a{
     position: absolute;  
     z-index: 1000;
     top: 25px;
     margin-left: 3vw;
     display: block;
     color: #f2f2f2;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     font-size: 17px;
   }
   #navbar a:hover {
     z-index: 1000;
     background-color: rgb(228, 228, 228);
   }
   
   #navbar a.name {
    margin-left: 40px;
    font-family: 'Raleway', sans-serif;  
    color: rgb(0, 0, 0);
  }
  #navbar a.about {
    margin-left: 170px;
    font-family: 'Raleway', sans-serif;  
    color: rgb(0, 0, 0);
  }
  #navbar a.portfolio {
    margin-left: 280px;
    font-family: 'Raleway', sans-serif;  
    color: rgb(0, 0, 0);
  }
  #navbar a.projects {
    margin-left: 410px;
    font-family: 'Raleway', sans-serif;  
    color: rgb(0, 0, 0);
  }
  #navbar a.shop {
    margin-left: 530px;
    font-family:'Raleway', sans-serif; 
    color: rgb(0, 0, 0);
  }
  #navbar a.contact {
    position: absolute;
    right: 3%;
    font-family: 'Raleway', sans-serif;  
    color: rgb(0, 0, 0);
  }
   .sticky {
     position: fixed;
     top: -5px;
     width: 100%;
     
   }
   .sticky + .content {
     padding-top: 60px;
   }
   .content {
     padding: 16px;
   }